{% trans_default_domain 'FOSUserBundle' %}
{% block css %}
<style>
section {
    padding: 25% 0;
}
</style>

{% endblock %}

{% block Dashboard %}
<div class="modal myModalSample in" tabindex="-1" data-effect="fadeIn" role="dialog" aria-labelledby="myModalSample" aria-hidden="true" style="display: block; padding-right: 17px; ">
<div class="modal-dialog">
<div class="modal-content  animated zoomIn">
<div class="modal-header">
<h4 class="modal-title" id="myModalSampleLabel">Envoyer une demande</h4></div>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" style="padding-top: 11%!important;">
    <div class="text-center">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
		<div class="col-md-7" style="margin-bottom: 2%"> 
		<div class="form-group">
								<label class="sr-only" for="exampleInputEmail3">{{ 'resetting.request.username'|trans }}</label>
        <input type="email" id="exampleInputEmail3" class="form-control" name="username" required="required" placeholder="Email" />
							</div>
        
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
    </div>
</form>
</div>
</div>
</div>
{% endblock Dashboard %}

