{% extends '::base.html.twig' %}
{% block slide %}

{% endblock %}
{% block body %}
	<section class="border-top-1 border-grey-200 padding-top-20">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
						<div class="card card-post">
							<div class="card-img">
								<img src="{{asset('img/game/menu-1.jpg')}}" alt="">
								<div class="meta">
								<a href="games-single.html"><i class="fa fa-heart-o"></i> <span>15</span></a></div>
							</div>
							<div class="caption">
								<h3 class="card-title"><a href="games-single.html">Grand Theft Auto 5</a></h3>
								<ul>
									<li><i class="fa fa-clock-o"></i> April 14, 2016</li>
									<li><i class="fa fa-eye"></i> 1230 views</li>
								</ul>
							</div>
						</div>
					</div>
									
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
						<div class="card card-post">
							<div class="card-img">
								<img src="{{asset('img/game/menu-1.jpg')}}" alt="">
								<div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>6</span></a></div>
							</div>
							<div class="caption">
								<h3 class="card-title"><a href="games-single.html">Witcher 3 Limited Edition</a></h3>
								<ul>
									<li><i class="fa fa-clock-o"></i> April 12, 2016</li>
									<li><i class="fa fa-eye"></i> 570 views</li>
								</ul>
							</div>
						</div>
					</div>
									
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
						<div class="card card-post">
							<div class="card-img">
								<img src="{{asset('img/game/menu-1.jpg')}}" alt="">
								<div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>12</span></a></div>
							</div>
							<div class="caption">
								<h3 class="card-title"><a href="games-single.html">Deadpool the movie</a></h3>
								<ul>
									<li><i class="fa fa-clock-o"></i> April 10, 2016</li>
									<li><i class="fa fa-eye"></i> 780 views</li>
								</ul>
							</div>
						</div>
					</div>	
									
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
						<div class="card card-post">
							<div class="card-img">
								<img src="{{asset('img/game/menu-1.jpg')}}" alt="">
								<div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>12</span></a></div>
							</div>
							<div class="caption">
								<h3 class="card-title"><a href="games-single.html">Call of duty</a></h3>
								<ul>
									<li><i class="fa fa-clock-o"></i> April 08, 2016</li>
									<li><i class="fa fa-eye"></i> 1430 views</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
 {% endblock %}
