{% extends '::base.html.twig' %}


{% block slide %}
{% endblock%}
{% block css %}
<style>
.card .time {
    right: 13%;
background:#fff0; 
    margin-bottom: -5%;
    margin-right: -8%;
	}
.btn btn-success btn-circle{
margin:5%;}
	
</style>
{% endblock %}
{% block body %}
		<section class="bg-grey-50">
			<div class="container">
				<div class="card-group">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg" alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
								
									<h3 class="card-title"><a href="videos-single.html">Assassin’s Creed Syndicate</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> May 21, 2016</li>
										<li><i class="fa fa-eye"></i> 7168 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Captain America: Civil War</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> Apr 28, 2016</li>
										<li><i class="fa fa-eye"></i> 372 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Star Wars Battlefront</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> Apr 26, 2016</li>
										<li><i class="fa fa-eye"></i> 1358 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Far Cry Primal Stream</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> Apr 20, 2016</li>
										<li><i class="fa fa-eye"></i> 13 216 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Tom Clancy's The Division</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> April 14, 2016</li>
										<li><i class="fa fa-eye"></i> 41 623 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Hearthstone: Whispers of the Old Gods - Opening 241 Packs</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> April 13, 2016</li>
										<li><i class="fa fa-eye"></i> 1038 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Official Mirror’s Edge</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> April 05, 2016</li>
										<li><i class="fa fa-eye"></i> 3140 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Star Wars 7 Treaser</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> March 20, 2016</li>
										<li><i class="fa fa-eye"></i> 15 568 views</li>
									</ul>
									</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Tom Clancy's The Division</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> March 18, 2016</li>
										<li><i class="fa fa-eye"></i> 616 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Star Wars Battlefront</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> March 10, 2016</li>
										<li><i class="fa fa-eye"></i> 938 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Halo 5 Final Gameplay</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> March 08, 2016</li>
										<li><i class="fa fa-eye"></i> 40 331 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">7 CRAZIEST Moments</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> March 01, 2016</li>
										<li><i class="fa fa-eye"></i> 4234 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">The Witcher 3: Wild Hunt</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> Febr 25, 2016</li>
										<li><i class="fa fa-eye"></i> 5780 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Just Cause 3 Gameplay</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> Febr 22, 2016</li>
										<li><i class="fa fa-eye"></i> 1348 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">Scalebound Game</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> Febr 19, 2016</li>
										<li><i class="fa fa-eye"></i> 3572 views</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="card card-video">
								<div class="card-img">
									<a href="videos-single.html"><img src="/Test1/web/img/slideshow/1.jpg " alt=""></a>
									<div class="time" ><button type="button" class="btn btn-success btn-circle"><i class="fa fa-pencil"></i></button><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></div>
								</div>
								<div class="caption">
									<h3 class="card-title"><a href="videos-single.html">We Play Hitman Episode 2</a></h3>
									<ul>
										<li><i class="fa fa-clock-o"></i> Febr 19, 2016</li>
										<li><i class="fa fa-eye"></i> 3572 views</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<ul class="pagination margin-top-20">
                    <li><a href="#"><span>&laquo;</span></a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">11</a></li>
                    <li><a href="#"><span>&raquo;</span></a></li>
                </ul>     
			</div>
		</section>
 {% endblock %}
