{% extends '::dashboard.html.twig' %}
{% block body %}
    <form >
        <fieldset>
            <legend>Catégories d'activite</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" >Libellé<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                        <input value="" name="LibelleCat" placeholder="Exemple : Jeux" id="LibelleCat" class="form-control"  type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" >Description<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                        <textarea name="DescriptionCat" placeholder="Exemple : Ici vous trouverez les jeux" id="DescriptionCat" class="form-control"></textarea>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label class="col-md-4 control-label" >Image<span style="color:red;margin-left:5px;font-weight: 900">*</span></label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                        <input type='file' name="ImageCat" placeholder="Deposer l'image içi" id="ImageCat" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Activer ?</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="rdio rdio-theme circle col-md-3" style="transform: scale(0.9);margin-left: 1%;">
                        <input id="radio-type-circle1" type="radio"  name="activation" value="Oui" checked>
                        <label for="radio-type-circle1">Oui</label>
                    </div>
                    <div style="transform: scale(0.9);" class="rdio rdio-theme circle col-md-3">
                        <input id="radio-type-circle2" type="radio" name="activation" value="Non">
                        <label for="radio-type-circle2">Non</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <input type="button" value="ajouter une catégorie"/>
    </form>
{% endblock %}