{% extends '::base.html.twig' %}
{% block slide %}
{% endblock %}
{% block body %}
    <section class="elements">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 style="">Levels</h1>
                    <form id="formmaxlevel">
                        <label for="nombremaxlevel" ><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;Level Maximum</label>
                        <select id="nombremaxlevel" name="nombremaxlevel">
                            <option {% if nombreoflevels == 25 %}selected{%endif%} value="25">25</option>
                            <option {% if nombreoflevels == 40 %}selected{%endif%} value="40">40</option>
                            <option {% if nombreoflevels == 50 %}selected{%endif%} value="50">50</option>
                            <option {% if nombreoflevels == 70 %}selected{%endif%} value="70">70</option>
                            <option {% if nombreoflevels == 80 %}selected{%endif%} value="80">80</option>
                            <option {% if nombreoflevels == 90 %}selected{%endif%} value="90">90</option>
                            <option {% if nombreoflevels == 100 %}selected{%endif%} value="100">100</option>
                        </select>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="panel-body">
                        <table id="tableLevels" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="hidden-xs">Level</th>
                                    <th class="hidden-xs">Experience</th>
                                    <th class="hidden-xs">Max Gains</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th class="hidden-xs">Level</th>
                                    <th class="hidden-xs">Experience</th>
                                    <th class="hidden-xs">Max Gains</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {%for level in levels%}
                                    <tr>
                                        <td class="hidden-xs">{{level.id}}</td>
                                        <td class="hidden-xs"><a href="">{{level.experience}}</td>
                                        <td class="hidden-xs"><a href="">{{level.gainCoin}}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>	
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#tableLevels').DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "Aucune données dans le tableau ",
                    "info": "Affichage de _START_ à _END_ de _TOTAL_ entrer",
                    "infoEmpty": " 0 de 0 affiché",
                    "infoFiltered": "(filtrer de _MAX_ entrer total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Afficher _MENU_ par page",
                    "loadingRecords": "Loading...",
                    "processing": "Processe en cours...",
                    "search": "Recherche:",
                    "zeroRecords": "Aucune Resultas trouvée",

                    "paginate": {
                        "first": "Premiere",
                        "last": "Derniere",
                        "next": "Suivant",
                        "previous": "Précedent"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                }
            });
        });
    </script>
    <script>
        $("#nombremaxlevel").change(function () {
               $.ajax({
                        type: "POST",
                        url: "{{path('max_levels')}}",
                        processData: false, contentType: false, cache: false,
                        data: new FormData($('#formmaxlevel')[0]),
                        success: function () {
                            location.reload();
                        }
                    });
            });
    </script>
{% endblock %}