{% extends '::base.html.twig' %}
{% block slide %}
{% endblock %}
{% block body %}
<section class="elements">
			<div class="container">
				<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-6">
				<h1 style="margin:2%;">GAGNANTS</h1></div>
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="hidden-xs">Num</th>
											<th class="hidden-xs">Username</th>
											<th class="hidden-xs">Rang</th>
											<th class="hidden-xs">activity</th>
											<th class="hidden-xs">cadeaux</th>
											<th class="hidden-xs">date</th>
											
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="hidden-xs">1</td>
											<td class="hidden-xs" ><a href="">Mark</a></td>
											<td class="hidden-xs"><a href="">other</td>
											<td class="hidden-xs"><a href="">Otto</a></td>
											<td class="hidden-xs"><a href="">@mdo</a></td>
											<td class="hidden-xs">05/12/2017</td>                                                    
										</tr>
										
									</tbody>
								</table>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
 {% endblock %}
