{%for PubGauche in PubGauches%}
    {%if not (PubGauche.getStatus() == "Deleted" or PubGauche.getStatus() == "Nouveau") %}
        {%if PubGauche.getImportance() == "Important"  %}
            <div class="card card-video">
                <div class="card-img">
                    <a href="videos-single.html"><img id="imagepubgauche-important" src="{{asset(PubGauche.getChemin())}}"  alt="" class="imagepub-important"></a>
                    <!--div class="time">13:52</div-->
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
{%for PubGauche in PubGauches%}
    {%if not (PubGauche.getStatus() == "Deleted" or PubGauche.getStatus() == "Nouveau") %}
        {%if PubGauche.getImportance() != "Important"  %}
            <div class="card card-video">
                <div class="card-img">
                    <a href="videos-single.html"><img src="{{asset(PubGauche.getChemin())}}"  alt="" class="imagepub"></a>
                    <!--div class="time">13:52</div-->
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
