{%block css%}
<style>
.imagepub{
height: 262px!important;;
}
</style>
{%endblock%}

{%for PubGauche in PubGauches%}
    {%if not (PubGauche.getStatus() == "Deleted" or PubGauche.getStatus() == "Nouveau") %}
            <div class="card card-video">
                <div class="card-img">
                    <a href="videos-single.html"><img src="{{asset(PubGauche.getChemin())}}"  alt="" class="imagepub"></a>
                    <!--div class="time">13:52</div-->
                </div>
            </div>
    {% endif %}
{% endfor %}
