{% extends 'FrontBundle::layout.html.twig' %}
 {% block body %}
 <h1>Mon Profil</h1>
<div class="row">
<label>Nom </label>

</div>
 {% endblock %}
{% block slide%}
<!-- slide hide-->
{% endblock slide%}
