{% extends 'FrontBundle::layout.html.twig' %}
{% block slider %}
{% endblock %}
{% block body %}
    <section id="mainteasers" class="cs section_padding_0 columns_padding_0 table_section table_section_lg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 bg_teaser after_cover color_bg_1 width-lt-600 width-lt-500" style="background-image: url(&quot;images/teaser01.jpg&quot;);"><div class="bg_overlay"></div>
                    <img src="images/teaser01.jpg" alt="">
                    <div class="teaser_content media">
                        <div class="media-left">
                            <h4 class="grey media-heading">Choisisez votre</h4>
                            <h3>Localisation</h3>
                        </div>
                        <div class="media-body">
                            <form class="order-form" id="order_form">
                                <div class="form-group">
                                    <label for="fullname">Pays</label>
                                    <select class="form-control" name="department" id="department">
                                        <option>Tunisie</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="department">Gouvernerat</label>
                                    <select class="form-control" name="department" id="department">
                                        <option>Bizerte</option>
                                        <option>Manouba</option>
                                        <option>Sfax</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Region</label>
                                    <select class="form-control" name="department" id="department">
                                        <option>Mateur</option>
                                        <option>bizerte centre</option>
                                        <option>Jalta</option>
                                    </select>
                                </div>

                                <button type="submit" class="theme_button">Filtrer</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 bg_teaser after_cover color_bg_2 width-lt-600 width-lt-500" style="background-image: url(&quot;images/teaser02.jpg&quot;);"><div class="bg_overlay"></div>
                    <img src="images/teaser02.jpg" alt="">
                    <div class="teaser_content media">
                        <div class="media-left">
                            <h4 class="grey media-heading">Liste des </h4>
                            <h3>Pharmacies de gardes</h3>
                            <!-- testimonials indicators -->
                            <div class="topmargin_30">
                                <a class="testimonials-control" href="#carousel-media" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left-big"></i>
                                </a>
                                <a class="testimonials-control" href="#carousel-media" role="button" data-slide="next">
                                    <i class="fa fa-angle-right-big"></i>
                                </a>
                            </div>
                        </div>

                        <div class="media-body">
                            <div id="carousel-media" class="carousel slide testimonials-carousel" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-media" data-slide-to="0" class=""></li>
                                    <li data-target="#carousel-media" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-media" data-slide-to="2" class="active"></li>
                                </ol>


                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <p>
                                            Ullamco laboris nialiquid exea commodi consat. Ut enim minim veniam norud exotation.
                                        </p>
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/team/01.jpg" alt="">
                                            </a>
                                            <div class="media-body">
                                                <h4>Jhon Smith</h4>
                                                <p>
                                                    Google Inc.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <p>
                                            Ullamco laboris nialiquid exea commodi consat. Ut enim minim veniam norud exotation.
                                        </p>
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/team/02.jpg" alt="">
                                            </a>
                                            <div class="media-body">
                                                <h4>Michael Anderson</h4>
                                                <p>
                                                    Google Inc.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item active">
                                        <p>
                                            Ullamco laboris nialiquid exea commodi consat. Ut enim minim veniam norud exotation.
                                        </p>
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="images/team/03.jpg" alt="">
                                            </a>
                                            <div class="media-body">
                                                <h4>Michael Anderson</h4>
                                                <p>
                                                    Google Inc.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- eof #carousel-media -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 bg_teaser after_cover color_bg_3 width-lt-600 width-lt-500" style="background-image: url(&quot;images/teaser03.jpg&quot;);"><div class="bg_overlay"></div>
                    <img src="images/teaser03.jpg" alt="">
                    <div class="teaser_content media">
                        <div class="media-left">
                            <h4 class="grey media-heading">Details des</h4>
                            <h3>Horaires</h3>

                        </div>
                        <div class="media-body">

                            <div class="widget_schedule">
                                <ul class="list1 no-bullets">
                                    <li>
                                        Monday-Friday
                                        <strong class="pull-right">09:00 - 20:00</strong>
                                    </li>

                                    <li>
                                        Saturday
                                        <strong class="pull-right">10:00 - 18:00</strong>
                                    </li>

                                    <li>
                                        Sunday
                                        <strong class="pull-right">Closed</strong>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

